body {
    background-color: cadetblue;
    font-family: sans-serif;
}
#bodyContato {
    background-color: tomato;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#bodyProdutos {
    background-color: rosybrown;
    font-family: fantasy;
}
#navHome #navProdutos #navContato {
    transform: 1s;
}
#navHome a:hover {
    font-size: 22px;
    color: black;
    transition: 1s;
    transform: rotate(360deg)
}
#navProdutos a:hover {
    font-size: 22px;
    color: black;
    transition: 1s;
    transform: rotate(360deg);
}
#navContato a:hover {
    font-size: 22px;
    color: black;
    transition: 1s;
    transform: rotate(360deg)
}
p {
    color: blueviolet
}